<footer class="site-footer">
  <section class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <header class="footer-title">About us</header>
          <p>Beta business plan growth hacking fruit ecosystem hypotheses investor ramen. MVP equity research & development early adopters burn rate backing funding.</p>
        </div>

        <div class="col-lg-3">
          <header class="footer-title">Company</header>
          <div class="row">
            <div class="col-xs-6">
              <ul class="footer-list">
                <li><a href="#">Main</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Video</a></li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="footer-list">
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Clients</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <header class="footer-title">Subscribe to newsletter</header>
          <form class="form-subscribe">
            <input type="text" placeholder="E-mail address"/>
            <button type="button">Subscribe</button>
          </form>
          <p>We promise that we will never share your e-mail address</p>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-bottom">
    <div class="container">
      <div class="copy">&copy; 2016 ThemesAnytime, all rights reserved</div>
      <div class="social">
        <a href="#" title="facebook"><i class="font-icon font-icon-fb"></i></a>
        <a href="#" title="vkontakte"><i class="font-icon font-icon-vk"></i></a>
        <a href="#" title="odnoklassniki"><i class="font-icon font-icon-ok"></i></a>
        <a href="#" title="twitter"><i class="font-icon font-icon-tw"></i></a>
        <a href="#" title="google plus"><i class="font-icon font-icon-gp"></i></a>
        <a href="#" title="linkedin"><i class="font-icon font-icon-in"></i></a>
        <a href="#" title="instagram"><i class="font-icon font-icon-inst"></i></a>
      </div>
    </div>
  </section>
</footer>
