<header class="site-header-container" id="section-1">
  <div class="site-header">
    <div class="site-header-collapsed">
      <div class="site-header-collapsed-in">
        <div class="container">
          <div class="site-logo">Start<span>UI</span></div>
          <div class="site-header-right">
            <nav class="site-menu" id="page-nav">
              <ul>
                <li><a href="#section-1"><span>Main</span></a></li>
                <li><a href="#section-2"><span>Concept</span></a></li>
                <li><a href="#section-3"><span>Extra</span></a></li>
                <li><a href="#section-4"><span>Landing</span></a></li>
                <li><a href="#section-5"><span>Tools</span></a></li>
                <li><a href="#section-6"><span>Video</span></a></li>
                <li><a href="#section-7"><span>Pricing</span></a></li>
              </ul>
            </nav>
            <a href="#" class="btn btn-sm btn-fill">Purchase</a>
          </div>
        </div>
      </div>
    </div>
    <div class="site-header-clone">
      <div class="container">
        <div class="site-logo">Start<span>UI</span></div>
        <button type="button" class="burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
