<header class="site-header">
  <div class="container-fluid">
    <a class="site-logo" href="#">
      <img alt="" class="hidden-md-down" src="src/assets/img/logo-ankroom.png">
      <img alt="" class="hidden-lg-up" src="src/assets/img/logo-ankroom-mob.png">
    </a>
    <button class="hamburger hamburger--htla">
      <span>toggle menu</span>
    </button>
    <div class="site-header-content">
      <div class="site-header-content-in">
        <div class="site-header-shown">

          <div class="site-header-search-container">
            <form class="site-header-search closed">
              <input type="text" placeholder="Search">
              <button type="submit">
                <span class="font-icon-search"></span>
              </button>
              <div class="overlay"></div>
            </form>
          </div>
          <!--user profile부분-->


          <div class="dropdown user-menu">
            <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              <img src="src/assets/img/avatar-2-64.png" alt="">
            </button>
            <!-- *ngIf과 jwt값을 이용하여 로그인 여부를 판단하여 보여지는 메뉴를 다르게 하기 -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
              <a class="dropdown-item" *ngIf="!jwt" href="/login"><span class="font-icon glyphicon glyphicon-user"></span>로그인</a>
              <a class="dropdown-item" *ngIf="!jwt" href="/signup"><span class="font-icon glyphicon glyphicon-user"></span>회원가입</a>
              <a class="dropdown-item" *ngIf="jwt" href="/change"><span class="font-icon glyphicon glyphicon-user"></span>회원정보수정</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" *ngIf="jwt" href="#" (click)="logout()"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
            </div>
          </div>
        </div>
        <div class="mobile-menu-right-overlay"></div>
        <div class="site-header-collapsed">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- 해더 수정본 -->


<div class="mobile-menu-left-overlay" ></div>
<ul class="main-nav nav nav-inline">
  <li class="nav-item">
    <a class="nav-link" routerLink="/mainPage" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">시공사례</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/buildcaseinput">시공사례입력</a>
      <a class="dropdown-item" href="/buildcaselist">시공사례조회</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">컨설팅</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/consultingCounsel">컨설팅상담</a>
      <a class="dropdown-item" href="/consultingInfo">컨성팅조회</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/businesslist" routerLinkActive="active">시공업체조회</a>
  </li>
</ul>
<!-- 사이드 바  -->

<router-outlet></router-outlet>
